_output/

**Release**
**Debug**

**.idea**
**.vscode**

**/Assets/_Recovery/

**.DS_Store**

**DotSettings**

*.slnx

backups
**sumo/**


Examples/NFDRS4_Behave/Roxborough/sumo/rox_density_outputs.add.xml
Examples/NFDRS4_Behave/Roxborough/sumo/rox_density.sumocfg
